<a href="https://colab.research.google.com/github/ShakilM26/PMDB/blob/main/PMDB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df=pd.read_csv('cinema.csv')
df.head()

,Year,Name,Director,Genre,IMDB,Rotten Tomatoes,Metacritic,Country,Personal Rating,Comics,Animation,TV_Series,Budget,Box_office,Runtime,Google_user,Month
0,2020,Tenet,Christopher nolan,Sci-fi/Action,7.4,69,69,USA,7.5,no,no,no,200.0,363.0,150,85,January
1,2020,WW84,Patty Jenkins,Superhero/Action,5.4,58,60,USA,5.0,yes,no,no,200.0,167.0,151,67,January
2,2012,Django Unchained,Quentin Tarantino,Western/Action,8.4,87,81,USA,8.5,no,no,no,100.0,425.0,165,93,January
3,2020,Onward,Dan Scanlon,Animation/Family,7.4,88,61,USA,7.0,no,yes,no,185.0,142.0,102,81,January
4,2019,Polar,Jonas Åkerlund,Action/Thriller,6.3,19,19,USA,6.0,no,no,no,0.0,0.0,118,77,January

In [4]:
#check null value

df.isnull().sum()

Year               0
Name               0
Director           0
Genre              0
IMDB               0
Rotten Tomatoes    0
Metacritic         0
Country            0
Personal Rating    0
Comics             0
Animation          0
TV_Series          0
Budget             0
Box_office         0
Runtime            0
Google_user        0
Month              0
dtype: int64

In [6]:
#check notnull value

df.notnull().sum()

Year               220
Name               220
Director           220
Genre              220
IMDB               220
Rotten Tomatoes    220
Metacritic         220
Country            220
Personal Rating    220
Comics             220
Animation          220
TV_Series          220
Budget             220
Box_office         220
Runtime            220
Google_user        220
Month              220
dtype: int64

In [5]:
# Find specific columns null value

df['Year'].isnull().sum()

0

In [7]:
# If there was any null value

df.dropna(axis=1, how='any').shape

(220, 17)

In [8]:
# How many movies have I seen
# 1st method

len(df[df['TV_Series']=='no'])

206

In [9]:
# 2nd method

len(df[df['TV_Series'].str.contains('no')])

206

In [10]:
# How many tv_series have I seen

len(df[df['TV_Series']=='yes'])

14

In [11]:
# How many animation have I seen

len(df[df['Animation']=='yes'])

27

In [12]:
# How many animation movies have I seen 

len(df[(df['TV_Series']=='no') & (df['Animation']=='yes')])

26

In [14]:
# The answer is 26. Total animation result was 27. So  
# I can say there is one tv-series animation I have seen.

In [16]:
# Here it is 

df.loc[(df['TV_Series']=='yes') & (df['Animation']=='yes')]

,Year,Name,Director,Genre,IMDB,Rotten Tomatoes,Metacritic,Country,Personal Rating,Comics,Animation,TV_Series,Budget,Box_office,Runtime,Google_user,Month
173,2021,What...If?,Bryan Andrews,Superhero/Action,7.5,94,69,USA,7.5,yes,yes,yes,0.0,0.0,30-37,88,November